env/
.idea/
*.iml
*.log*

*.sqlite3
__pycache__/
*.pyc
/venv
/media
/data/

dist
build
build-install
*.egg-info
/linux-amd64_deb/
/.pytest_cache/
/cprocsp-pki-cades-64_2.0.14589-1_amd64.deb
/lsb-cprocsp-devel_5.0.12500-6_all.deb
